<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-header-giangma [giangmaPersonal]="giangmaPersonal"></app-header-giangma>

<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}">

  <mat-tab>
    <ng-template mat-tab-label>
      My Book List - Manh Phu Giang 
      <mat-icon aria-hidden="false" fontIcon="book"></mat-icon>
    </ng-template>
    <app-books-giangma [myBooks991685007]="giangmaBook"></app-books-giangma>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      Campus Info - Manh Phu Giang 
      <mat-icon aria-hidden="false" fontIcon="computer"></mat-icon>
    </ng-template>
    <app-campus-giangma [campusData991685007]="giangmaCampus"></app-campus-giangma>
  </mat-tab>
</mat-tab-group>




<app-footer-giangma [giangmaPersonal]="giangmaPersonal">
</app-footer-giangma>